#.local/
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform.tfstate
.terraform.tfstate.backup
.terraform/
.terraform.lock.hcl
*.tfplan
*.tfplan.*
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
**/.terraform/**
.idea
*cache*
*logs*
*log*
tfplan
*.env
*container_image.txt
*state-list.txt
*state-list-after.txt
