default_language_version:
    python: python3.10
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=250']
    -   id: detect-private-key
    -   id: requirements-txt-fixer
    -   id: detect-aws-credentials

-   repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
    -   id: black
        args: ["--line-length=88"]
