services:
  pipeline-processing:
    image: etl-pipeline-processing
    build:
      context: ../
      dockerfile: ../packages/pipeline_processing/pipeline-processing.Dockerfile
    volumes:
      - ../packages/pipeline_processing:/app/packages/pipeline_processing
      - ../packages/etl_core:/app/packages/etl_core

  observability:
    image: etl-observability
    build:
      context: ../
      dockerfile: packages/observability/observability.Dockerfile
    volumes:
      - ../packages/observability:/app/packages/observability
      - ../packages/etl_core:/app/packages/etl_core

  airflow-control-plane:
    image: etl-airflow-control-plane
    build:
      context: ../
      dockerfile: packages/orchestration/orchestration.Dockerfile
    volumes:
      - ../packages/orchestration:/app/packages/orchestration
      - ../packages/etl_core:/app/packages/etl_core
    # Optional: expose webserver port on a different host port to avoid conflicts with other services
    # ports:
    #   - "8081:8080"
