services:
  file-processing:
    image: etl-file-processing
    build:
      context: ../
      dockerfile: ../packages/file_processing/file-processing.Dockerfile
    volumes:
      - ../packages/file_processing:/app/packages/file_processing
      - ../packages/etl_core:/app/packages/etl_core

  data-pipeline:
    image: etl-data-pipeline
    build:
      context: ../
      dockerfile: ../packages/data_pipeline/data-pipeline.Dockerfile
    volumes:
      - ../packages/data_pipeline:/app/packages/data_pipeline
      - ../packages/etl_core:/app/packages/etl_core

  observability:
    image: etl-observability
    build:
      context: ../
      dockerfile: ../packages/observability/observability.Dockerfile
    volumes:
      - ../packages/observability:/app/packages/observability
      - ../packages/etl_core:/app/packages/etl_core

  airflow-control-plane:
    image: etl-airflow-control-plane
    build:
      context: ../
      dockerfile: ../packages/airflow_control_plane/airflow-control-plane.Dockerfile
    volumes:
      - ../packages/airflow_control_plane:/app/packages/airflow_control_plane
      - ../packages/etl_core:/app/packages/etl_core
    # Optional: expose webserver port on a different host port to avoid conflicts with other services
    # ports:
    #   - "8081:8080"
